@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: oklch(0.984 0.003 247.858);
}

main {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

nav {
    position: sticky;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    background: oklch(0.554 0.046 257.417);
    padding: 16px 12px;
    color: oklch(0.984 0.003 247.858);
    z-index: 10;
}

nav ul,
footer ul {
    list-style-type: none;

    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

nav ul a,
footer ul li a {
    padding: 12px 16px;
    text-decoration: none;
    background-color: white;
    border-radius: 12px;
    color: black;
    transition: all 0.3s ease-in-out;
}


nav ul a:hover,
footer ul li a:hover {
    background-color: lightgray;
}

h1 {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: oklch(0.554 0.046 257.417);
    padding: 16px 12px;
    color: oklch(0.984 0.003 247.858);
}


footer ul li {
    text-decoration: none;
}

button {
    background-color: oklch(0.372 0.044 257.287);
    color: oklch(0.984 0.003 247.858);
    padding: 10px 16px;
    border-radius: 10px;
    border: none;
    transition: all .3s ease-in-out;
}

button:hover {
    background-color: oklch(0.704 0.04 256.788);
    cursor: pointer;
}

button:disabled {

    background-color: oklch(0.279 0.041 260.031);
    cursor: not-allowed;
}

.welcome {
    position: relative;
    min-height: 100vh;
    width: 100%;
    margin-top: -16px;
    color: white;
    background-image: url("./assets/3d-cubes-colorful-geometric-patterns-4010x2480-906.jpg");

    opacity: .5;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome>div {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: oklch(0.554 0.046 257.417);
    border-radius: 12px;
    padding: 12px 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px
}


.welcome>div p {
    max-width: 10rem
}

.welcome>div img {
    width: 200px;
    height: 200px;

    border-radius: 100%;
}

.card {
    min-width: 300px;
    width: 500px;
    min-height: 300px;
    background: white;
    padding: 12px 16px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.card button {
    margin-top: 12px;
}

.slideshow {
    width: 500px;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.slideshow img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s;
}

.slideshow img.active {
    opacity: 1;
}

#js08 {
    background-image: url("./assets/LiveWallpaperPC.com-Kirby-Sleeping.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#js08 #relogio {
    background-color: white;
    padding: 10px 16px;
    border-radius: 10px;
}

#js05,
#js08 {
    justify-content: space-around;

}

#js07,
#js03,
#js02,
#js01 {
    justify-content: center;
}

.audio-player {
    width: 15rem;
    height: 15rem;
    position: absolute;
    bottom: 60px;
    right: 10px;
    --player-button-width: 3em;
    --sound-button-width: 2em;
    --space: .5em;
}

.icon-container {
    width: 100%;
    height: 100%;
    background-color: oklch(0.554 0.046 257.417);
    padding: 12px;
    border-radius: 12px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.audio-icon {
    width: 90%;
    height: 90%;
}

.controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.player-button {
    background-color: transparent;
    border: 0;
    width: var(--player-button-width);
    height: var(--player-button-width);
    cursor: pointer;
    padding: 0;
}

.timeline {
    -webkit-appearance: none;
    height: .5em;
    width: calc(100% - (var(--player-button-width) + var(--sound-button-width) + var(--space)));
    margin-right: var(--space);
    background-color: #e5e5e5;
    border-radius: 5px;
    background-size: 0% 100%;
    background-image: linear-gradient(#DE5E97, #DE5E97);
    background-repeat: no-repeat;
}

.timeline::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    transition: all .1s;
    background-color: #a94672;
}

.timeline::-webkit-slider-thumb:hover {
    background-color: #943f65;
}

.timeline:hover::-webkit-slider-thumb {
    opacity: 1;
}

.timeline::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

.sound-button {
    background-color: transparent;
    border: 0;
    width: var(--sound-button-width);
    height: var(--sound-button-width);
    cursor: pointer;
    padding: 0;
}


.bye {
    min-height: 100vh;
    width: 100%;
    background-image: url("./assets/sleep-kirby.gif");

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: -16px;
}

.bye img {
    width: 100%;
}

.vidia {
    background: oklch(0.554 0.046 257.417);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    width: 100%;
}

.vidia div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 90px;
}

.vidia div div {
    max-width: 30rem;
    color: white;
}


.vidia div div p {
    font-size: 2rem;
}

nav>a.icon {
    display: none;
    width: 100%;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1080px) {
    .vidia div {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

@media only screen and (max-width: 880px) {
    nav ul {
        flex-direction: column;
        height: 100vh;
    }

    nav ul#navLinks.hidden {
        display: none;
    }

    nav>a.icon {
        display: flex;
    }

    .welcome>div {
        flex-direction: column;
    }


}

@media only screen and (max-width:500px){
    .youtube{
        width:100%;
    }
    .slideshow {
        width:100%;
    }
}
